<footer class="site-footer">

    <div class="wrapper">


        <!-- disquss -->

        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->


        <h2 class="footer-heading" align="center">
            <a href="//jsdev.org/">jsdev.org</a> & {{ site.title }}
        </h2>
    </div>

</footer>