<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta
        name="description"
        content="{% if page.excerpt %}{{
            page.excerpt | strip_html | strip_newlines | truncate: 160
        }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta
        name="keywords"
        content="java, development, jdk, software, enterprise, services, android"
    />

    <link rel="stylesheet" href="{{
        "/css/main.css" | prepend: site.baseurl
    }}"> <link rel="stylesheet" href="{{
        "/css/github.css" | prepend: site.baseurl
    }}"> <link rel="stylesheet" href="{{
        "/css/bootstrap.min.css" | prepend: site.baseurl
    }}">
    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
</head>
